---
layout: default_without_title
---

<article class="post">
	<div class="subbloque container-fluid firstElement">
		<div class="row">
			<div class="col-sm col-centered tituloPagina">
				<h1>El blog de Darío</h1>
				<h2>{{ page.title }}</h2>
			</div>
		</div>
	</div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Publicado el {{ page.date | date: "%e %B, %Y" }}
  </div>

  {% include disqus.html %}
  	<script>
		const a = new ImgPreviewer('.entry', {
			scrollbar: true
		})
	</script>
</article>
